# Dependencies
node_modules/

# Yarn (Berry)
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# Expo / React Native
.expo/
dist/
web-build/
expo-env.d.ts

# Generated native folders
/ios
/android

# Native build / signing artifacts
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
yarn-*.log

# Environment
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo

# OS / misc
.DS_Store
*.pem
